<div class="ui-fluid">
    <div class="card card-w-title">
        <div class="ui-g">

            <div *ngIf="!finished" class="ui-g-2">
                <h2>Selected Data </h2>
                <p-fieldset legend="Query">
                    <div *ngFor="let data of getQuerys()" class="ui-g">
                        <div class="ui-g-12" style="word-wrap: break-word">{{ data.text()  }}</div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Background">
                    <div class="ui-g-12" style="word-wrap: break-word">{{ background?.text() }}</div>
                </p-fieldset>
                <!--<p-fieldset legend="Datasets">
                  <div class="ui-g-10" style="word-wrap: break-word">{{ getDatasetsLabel() }}</div>
                  <div class="ui-g-10" style="word-wrap: break-word">{{ selected_datasets }}</div>
                </p-fieldset>-->
                <p-fieldset legend="Datasets"> <!--*ngIf="selected_datasets.length > 0"-->
                    <div *ngFor="let entry of getSelectedDatasets()" class="ui-g">
                        <div class="ui-g" style="word-wrap: break-word">{{ entry.key }}</div>
                        <div *ngFor="let ds of entry.value" class="ui-g-offset-1 ui-g-11">
                            <div class="ui-g-12" style="word-wrap: break-word; "> {{ ds }}</div>
                            <!--                            <div class="ui-g-offset-1 ui-g-1">
                                                            <button pButton type="button" icon="pi pi-times" (click)="removeSelectedDataset(ds)"></button>
                                                        </div>-->
                        </div>
                    </div>
                </p-fieldset>
            </div>

            <div class="{{ wizardClassLength() }}">
                <aw-wizard #wizard [navBarLayout]="'small'" [navBarLocation]="'top'">

                    <!-- Introduction -->
                    <aw-wizard-step (stepEnter)="inWizard($event)" stepTitle="Overlap Enrichment">

                        <navegation-menu [disablePrevious]="true"></navegation-menu>
                        <p-fieldset legend="Welcome to Overlap Enrichment">
                            <h2>We are going to perform the <i>Locus Overlap Enrichment Analysis (LOLA)</i> (<a
                                    href="https://doi.org/10.1093/bioinformatics/btv612">Sheffield and Bock 2016</a>).
                            </h2>
                            The <b>background</b> is used to define which regions are basis of the analysis.
                            <b>Datasets</b> are used for enriching the <b>query</b> regions.<br>
                            Overlaps between the background regions and query regions are used to redefine the query
                            regions and then count the overlaps between the query and each dataset regions.
                            With these values, a contingency matrix is build, and the Fisher exact test applied to it.
                        </p-fieldset>
                    </aw-wizard-step>

                    <!-- Background -->

                    <aw-wizard-step (stepEnter)="inWizard($event)" stepTitle="Background">
                        <p-toolbar>
                            <div class="ui-toolbar-group-left">
                                <button awPreviousStep icon="ui-icon-arrow-back" label="Back" pButton
                                        type="button"></button>
                            </div>
                            <div class="ui-toolbar-group-right">
                                <button [disabled]="!background" awNextStep icon="ui-icon-arrow-forward" label="Next"
                                        pButton type="button"></button>
                            </div>
                        </p-toolbar>


                        <p-fieldset legend="Select Background Data">
                            <h2>Please select the background data you want to use.</h2>
                            <data-selection-main (queryIdSelected)="selectBackgroud($event)"></data-selection-main>
                        </p-fieldset>
                    </aw-wizard-step>

                    <!-- Datasets -->

                    <aw-wizard-step (stepEnter)="inWizard($event)" stepTitle="Datasets">
                        <p-toolbar>
                            <div class="ui-toolbar-group-left">
                                <button awPreviousStep icon="ui-icon-arrow-back" label="Back" pButton
                                        type="button"></button>
                            </div>
                            <div class="ui-toolbar-group-right">
                                <button [disabled]="getSelectedDatasets().length === 0" awNextStep
                                        class="ui-button-success" icon="ui-icon-arrow-forward"
                                        label="Start Analysis"
                                        pButton type="button"></button>
                            </div>
                        </p-toolbar>

                        <p-fieldset legend="Select Datasets">
                            <h2>Please select the datasets you want to use.</h2>
                            <h4>Datasets that will be used for the enrichment analysis. <br>
                                Remember that the execution time grows with more datasets.</h4>
                            <p-tabView>
                                <p-tabPanel header="Experiments">
                                    <select-datasets-component (datasetsSelected)="selectDatasets($event)"
                                                               [selectMode]="'checkbox'"></select-datasets-component>
                                </p-tabPanel>
                            </p-tabView>

                        </p-fieldset>

                    </aw-wizard-step>

                    <!-- Summary -->

                    <aw-wizard-step (stepEnter)="finishWizard($event)" stepTitle="Results">
                        <p-toolbar>
                            <div class="ui-toolbar-group-left">
                                <button awPreviousStep icon="ui-icon-arrow-back" label="Back" pButton
                                        type="button"></button>
                            </div>
                        </p-toolbar>


                        <h1>Results</h1>

                        <app-lolaresults-bar-chart #lolaresultsbarchart (dataSelected)="setDataInfo($event)"></app-lolaresults-bar-chart>

                        <div>
                            <h2 *ngIf="enrichment_data.length == 0">Processing... This may take a while, please be
                                patient.</h2>
                            <!--                 <div *ngIf="enrichment_data.length == 0" class="splash-loader-container">
                                                 <svg class="splash-loader" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                     <circle class="splash-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                                                 </svg>
                                             </div>-->
                        </div>

                        <div *ngIf="enrichment_data.length > 0" class="card card-w-title">
                            <div *ngFor="let data of enrichment_data; let i = index">
                                <h2> {{ selectedData.getStackname(i) }} </h2>
                                <div *ngIf="hasNegativeEntries(data)">
                                    <p-message severity="error" text="{{getDatasetsWithNegativeEntries(data)}}"></p-message>
                                </div>
                                <br>
                                <a [data]='data'
                                   [filename]=" 'DIVE-result_' + selectedData.getStackname(i) + '_overlap_enrichment.csv'"
                                   csvLink>Download Table</a>
                                <ngx-datatable [columnMode]="'force'" [columns]="columns"
                                               [footerHeight]="50"
                                               [headerHeight]="50" [limit]="10"
                                               [rowHeight]="'auto'" [rows]='data' class='material'></ngx-datatable>
                                <br>
                            </div>
                        </div>

                        <!--TODO: get experiment_info by click-->
                        <!--<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="20000" position="right" styleClass="ui-sidebar-md">
                            <h1 style="font-weight:normal; overflow-wrap: break-word;">{{selectedRow?.text()}}</h1>
                            <p-scrollPanel [style]="{height: '95%', width: '100%'}">
                                <div *ngIf="selectMode === 'single'">
                                    <button (click)="selectDatasets($event)" icon="ui-icon-check-circle" label="Select Dataset" pButton
                                            type="button"></button>
                                    <button (click)="visibleSidebar = false" class="ui-button-secondary" label="Cancel" pButton
                                            type="button"></button>
                                </div>

                                <div *ngIf="!selectedRow">
                                    <h3>Loading dataset information...</h3>
                                </div>
                                <div *ngIf="selectedRow">
                                    <h4>{{ selectedRow?.epigenetic_mark() }}</h4>
                                    <h4>{{ selectedRow?.biosource() }}</h4>
                                    <h4>
                                        <pre id="json">{{ selectedRow?.sample_info() | json }}</pre>
                                    </h4>
                                    <h4>{{ selectedRow?.technique() }}</h4>
                                    <h4>{{ selectedRow?.project() }}</h4>
                                    <h4>
                                        <pre id="json">{{ selectedRow?.columns() | json }}</pre>
                                    </h4>
                                    <query-flow [queryId]="clicked_query_id"></query-flow>
                                </div>

                            </p-scrollPanel>
                        </p-sidebar>-->

                    </aw-wizard-step>

                </aw-wizard>


            </div>
        </div>
    </div>
</div>
