<p-dialog header="Error during dataset upload" [(visible)]="hasError" modal="modal" width="600" [responsive]="true" [appendTo]="'body'">
  <p>{{ errorMessage }}.</p>

  <small>
    <p> Currently Dive allows only files with CHROMOSOME,START,END columns.</p>
    <p> Check if the currently selected genome ({{deepBlueService.getGenome()?.name}}) is the right genome assembly</p>
  </small>

  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="hasError=false" label="Okay"></button>
  </p-footer>
</p-dialog>

<h4>Use GENCODE names and Gene Ontology terms</h4>
<p>A list of all available genes is available at the <a href="http://deepblue.mpi-inf.mpg.de/dashboard.php#ajax/deepblue_view_genes.php">DeepBlue Dashboard</a> </p>
<div class="container">
  <p></p>
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <p>
          <label style="color: #03A9F4;" (click)="textAreaContent = demo">Click here to use example</label>
        </p>
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" [disabled]="textAreaContent.trim().length == 0"
          (click)="onUploadClick()">
          <span class="ui-button-icon-left fa fa-upload"></span>
          <span class="ui-button-text ui-c">Use genes and GO terms</span>
        </button>
        <div class="ui-g-12 ui-md-2">
          <p-dropdown #geneModelDropdown [options]="menuGeneModel" [(ngModel)]="selectedGeneModel" filter="filter" [autoWidth]="false"
            (onChange)="selectGeneModel($event)">
          </p-dropdown>
        </div>
        <textarea [rows]="25" [cols]="30" [(ngModel)]='textAreaContent' pInputTextarea></textarea>
      </div>
    </div>
  </div>
</div>
